<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Tag responsavel por adaptar a aplicação para tamanho de telas diferentes-->
    <title>Happy!</title>

    <link rel="icon" href="/images/logo-icon.png" />

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/animations.css" />
    <link rel="stylesheet" href="/css/page-landing.css" />

    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap"
      rel="stylesheet"
    />
  </head>

  <body id="body">
    <div id="page-landing">
      <div id="container">
        <header>
          <a href="/" title="Home">
            <img
              class="animate-up"
              id="logo"
              src="/images/logo.svg"
              alt="Logomarca de Happy"
            />
        </a>

          <div class="location animate-up">
            <strong>Arapiraca</strong>
            <p>Alagoas</p>
          </div>
        </header>

        <main>
          <h1 class="animate-up">Leve felicidade para o mundo</h1>
          <section class="visit animate-up">
            <p class="animate-up">
              Visite orfanatos e mude o dia de muitas crianças!
            </p>
            <a href="orphanages" title="Visite orfanatos" class="animate-up">
              <img src="/images/arrow.svg" alt="Ir para o mapa" />
            </a>
          </section>
        </main>
      </div>
    </div>
  </body>
</html>

<!--
    HTML
        Hypertext
            hipertexto

        Markup
            marcação <tags>

        Language
                linguagem (sintaxe)


Usamos tags que já existem no HTML, para usar temos que abrir a tag com "<" depois fechar com ">", e atag é fechada com "</tag>".

A tag head recebe configurações especificas da página, e o body recebe informações visuais.
-->
